@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.card-tranform {
  transition: transform 0.7s;
}

.card-tranform:hover {
  transform: scale(1.025);
}

.media-query-modal{
  @media (max-width: 768px) {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 0 auto;
    width: 50%;
  }
}
